TestResult.xml
build
obj
bin
deploy
deploy/*
_ReSharper.*
*.csproj.user
*.resharper.user
*.ReSharper.user
*.resharper
*.suo
*.cache
~$*
*.orig
*.5.0.ReSharper
CommonAssemblyInfo.cs
coverage
coverage/*
Coverage.Log
Specifications/*
build_spoort/tmp