<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<appSettings>
		<add key="DatabaseSettings.Provider" value="NHibernate.Connection.DriverConnectionProvider"/>
		<add key="DatabaseSettings.Driver" value="NHibernate.Driver.SqlClientDriver, NHibernate"/>
		<add key="DatabaseSettings.ConnectionString" value="Data Source=LOCALHOST;initial catalog=SweetVidsDataDev;Integrated Security=SSPI;pooling='true'; Max Pool Size=200"/>
		<add key="DatabaseSettings.Dialect" value="NHibernate.Dialect.MsSql2005Dialect"/>
		<add key="DatabaseSettings.ShowSql" value="false"/>
		<add key="DatabaseSettings.UseOuterJoin" value="true"/>
		<add key="DatabaseSettings.ProxyFactory" value="NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle"/>
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<customErrors mode="Off"/>
		<pages compilationMode="Auto" enableSessionState="true" validateRequest="true" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<namespaces>
				<add namespace="FubuMVC.Core.View"/>
				<add namespace="FubuMVC.UI"/>
				<add namespace="FubuMVC.Core"/>
			</namespaces>
		</pages>
		<authentication mode="Forms">
			<forms loginUrl="~/Login" timeout="2880"/>
		</authentication>
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
		</modules>
	</system.webServer>
</configuration>
