<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="SpecificationSettings.Provider" value="NHibernate.Connection.DriverConnectionProvider"/>
    <add key="SpecificationSettings.Driver" value="NHibernate.Driver.SQLite20Driver, NHibernate"/>
    <add key="SpecificationSettings.ConnectionString" value="Data Source=nhibernate.db;Version=3;New=True;"/>
    <add key="SpecificationSettings.Dialect" value="NHibernate.Dialect.SQLiteDialect"/>
    <add key="SpecificationSettings.ShowSql" value="false"/>
    <add key="SpecificationSettings.UseOuterJoin" value="true"/>
    <add key="SpecificationSettings.ProxyFactory" value="NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle"/>

    <add key="DatabaseSettings.Provider" value="NHibernate.Connection.DriverConnectionProvider"/>
    <add key="DatabaseSettings.Driver" value="NHibernate.Driver.SqlClientDriver, NHibernate"/>
    <add key="DatabaseSettings.ConnectionString" value="Data Source=LOCALHOST;initial catalog=SweetVidsData;Integrated Security=SSPI;pooling='true'; Max Pool Size=200"/>
    <add key="DatabaseSettings.Dialect" value="NHibernate.Dialect.MsSql2008Dialect"/>
    <add key="DatabaseSettings.ShowSql" value="true"/>
    <add key="DatabaseSettings.UseOuterJoin" value="true"/>
    <add key="DatabaseSettings.ProxyFactory" value="NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle"/>
  </appSettings>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=FAKE_TEST_SERVER;Integrated Security=SSPI;AttachDBFilename=FAKE_TEST_DATABASE.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
    <add name="SweetVidsData" connectionString="Data Source=LOCALHOST;initial catalog=SweetVidsData;Integrated Security=SSPI;pooling='true'; Max Pool Size=200"/>
    <add name="SafeDataReaderConnectionString" connectionString="Data Source=fbtest.db;Version=3;New=True;"/>
  </connectionStrings>

 
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
